/* .imgIcon {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}

.imgIcon:hover {
  filter: invert(45%) sepia(83%) saturate(2202%) hue-rotate(162deg)
    brightness(96%) contrast(101%);
} */

.edit:hover{
  background-color: #b7c1fb;;
}

.edit:hover .EditimgIcon {
  filter: invert(23%) sepia(61%) saturate(1505%) hue-rotate(218deg)
    brightness(82%) contrast(86%);
}

.EditimgIcon {
  filter: invert(0%) sepia(1%) saturate(4%) hue-rotate(279deg) brightness(95%)
    contrast(101%);
  margin-left: 20px;
}

.delete:hover .DeleteimgIcon {
  filter: invert(22%) sepia(85%) saturate(7451%) hue-rotate(357deg)
    brightness(108%) contrast(115%);
}

.DeleteimgIcon {
  filter: invert(0%) sepia(1%) saturate(4%) hue-rotate(279deg) brightness(95%)
    contrast(101%);

  margin-left: 10px;
}

.hide:hover .HideimgIcon {
  filter: invert(23%) sepia(61%) saturate(1505%) hue-rotate(218deg)
    brightness(82%) contrast(86%);
}

.HideimgIcon {
  filter: invert(0%) sepia(1%) saturate(4%) hue-rotate(279deg) brightness(95%)
    contrast(101%);
}

.hide:hover .UploadimgIcon {
  filter: invert(23%) sepia(61%) saturate(1505%) hue-rotate(218deg)
    brightness(82%) contrast(86%);
}

.UploadimgIcon {
  filter: invert(0%) sepia(1%) saturate(4%) hue-rotate(279deg) brightness(25%)
    contrast(101%);
  height: 17px;
}
