.inputForm .MuiOutlinedInput-root {
  border-radius: 12px;
  background-color: rgba(228, 232, 255,0.3);

  height: 45px;
}

.inputForm2 .MuiOutlinedInput-root {
  border-radius: 12px;
  background-color: rgba(228, 232, 255, 0.3);
  height: 60px !important;

}
.inputForm3 .MuiOutlinedInput-root {
  border-radius: 12px;
  height: 40px;
  background-color: rgba(228, 232, 255,0.3)
}

.inputForm3 ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.timePeaker .MuiOutlinedInput-root {
  border-radius: 12px;
}
